:root {
    --dark: #0a0a0a;
    --grey: #f6f6f6;
    --light: #ffffff;    
}

button:focus {
    outline: none;
}

.text-light {
    color: var(--light);
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--grey);
}

.bg-grey {
    background-color: var(--grey);
}

.navbar {
    min-height: 5rem;
    background-color: var(--grey);
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.textColor {
    color: black!important;
}

h1{
    text-transform: uppercase;
}

.letterStyleTitle {
    letter-spacing: 2px;
}

.btn {
    padding: .75rem 1rem;
    border-radius: 7px;
    font-weight: 700;
    transition: all .2 ease-in;
}

.btn-dark {
    background-color: var(--dark);
    transition: all .2s ease-in-out;
}

.bg-white {
    background-color: white;
}

.btn-outline-dark{ 
    transition: all .2s ease-in-out;
}

.btn-outline-dark:hover {
    background-color: var(--dark);
    transition: all .2s ease-in-out;
}

.btnBg {
    background: transparent;
}

.imgStyle { 
    width: 50%;
}

.play-icon {
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
    animation: shadowBtn 1.5s infinite;
}

@keyframes shadowBtn {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .8);  
    }

    70%{
        box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);      
    }

    100% {
        box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);        
    }
}

.backgroundDivision{
    background: linear-gradient(180deg, var(--grey) 70%, var(--light) 0);
}

.modal-dialog {
    max-width: 800px;
}

.pics-info{
    bottom: 20px;
    left: 40px;
}

.badge {
   padding: .5rem 1rem;
}

.badge-secondary {
    background-color: var(--grey);
}

.card-client img{
    width: 100px;
    float: right;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

@media (max-width: 768px){
    .letterStyleTitle {
        letter-spacing: .5px;
        font-size: 2rem;
    };

    
    .py-6 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    };

    .small, small {
        font-size: 15px;
    }

    .textResponsiveCenter {
        text-align: center;
    }

    .imgTextTitle {
        font-size: 1.5rem;
    }

    .imgTextParagraph {
        font-size: 20px;
    }

    .btnAlign {
        float: right;
    }
    
    .cardCity {
        margin-top: 1rem;
        font-size: 15px;
    }

    .imgStyle{
        width: 100%;
    };
}